body {
    font-family: 'Ubuntu', Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .fertilizers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .fertilizers label {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  label {
    margin-top: 10px;
  }
  
  input,
  label {
    margin-right: 10px;
  }
  
  button {
    align-self: center;
    margin: 20px 0;
    padding: 10px 20px;
  }
  
  .hidden {
    display: none;
  }
  
.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .slider {
    width: 80%;
    margin-right: 10px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
    cursor: pointer;
  }
  